<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
<div class="header">
    <h1 class="h1-header">Blog Aplication</h1>
    <ul class="ul-header">
        <li class="nav-bar"><a href="/">Create Blog</a></li>
        <li class="nav-bar"><a href="/post">View All Blogs</a></li>
    </ul>
</div>
    

